body {
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    font-size: 0.85em;
}

